/*
================================================================================
    Main style sheet for Video Annotation platform.

    Class: ECE 435, 419, 420
    
    Collaboration between Senior Design and Software Engineering
================================================================================
*/

html {
    background: rgb(255, 255, 255);
    color: rgb(35, 35, 35);
    overflow: auto;
    overflow-x:0;
}

body {
	font-size: 1em;
	font-weight: normal;
	word-spacing: normal;
	letter-spacing: normal;
	text-transform: normal;
	font-family: 'Source Sans Pro', sans-serif;
	font-size-adjust: 0.58;
	line-height: 1.4em;
	text-align: center;
	overflow: hidden;
	width: 75%;
	height: 100%;
	padding: 0;
	margin: 0;
}
head{
	font-size: 1em;
    font-weight: normal;
    word-spacing: normal;
    letter-spacing: normal;
    text-transform: normal;
    font-family: 'Source Sans Pro', sans-serif;
    font-size-adjust: 0.58;
    line-height: 1.4em;
    text-align: center;
    overflow:hidden;    width: 75%;
    height: 100%;
    padding:0;
    margin:0;
}

video {
    position: relative;
    left: 0px;
    top: 0px;
    width: 100%;
}

ul {
    list-style-type: none;
}


.main {
    width: 65%;
    height: 100%;
    padding: 1.5em;
    margin-left: 0px;
    margin-right: 1.5em;
    position: fixed;
    left: 25%;
    top: 0px;
    text-align: center;
    /*border: 1px solid blue;*/
}

.video-div {
    position: relative;
    width: 100%;
    height: auto;
    padding: 0px;
    margin: 0px;
    /*border: 1px solid green;*/

}

.canvases {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 90%;
}

.input-area {
    position: relative;
    width: inherit;
    text-align: left;
    position: relative;
    padding: inherit;
    margin: inherit;
}

.annotation-list {
	position: absolute;
	right:5px;
	top: 25%;
    width: 24%;
    max-height: 30em;
    text-align: left;
    padding: inherit;
    margin: inherit;
    overflow-y: scroll;
}
.thumb{
	width:100px;
	height:100px;
}
.account{
	background: #EEEEEE;
	padding: 15px;
	border-radius: 15px;
	width: 400px;
	text-align:left;
	border: medium;
	margin: 5% auto;
	}
.account h1{
	text-align: left;
	color: white;
	text-shadow: 0px 2px 2px #000, 0px 2px 6px #000;
	font-size: x-large;
}
.user_management{
	background: #EEEEEE;
	padding: 15px;
	border-radius: 15px;
	width: 75%;
	text-align:left;
	border: medium;
	margin: 0 auto;
}
.user_management h1{
	text-align: left;
	color: white;
	text-shadow: 0px 2px 2px #000, 0px 2px 6px #000;
	font-size: x-large;
}

.login{
	background: #EEEEEE;
	padding: 15px;
	border-radius: 15px;
	width: 300px;;
	border: medium;
	margin: 5% auto;}
.login h1{
	text-align: left;
	color: white;
	text-shadow: 0px 2px 2px #000, 0px 2px 6px #000;
	font-size: xx-large;
}
.button{
	border-width: thin;
	border-style: solid;
	color: #FFFFFF;
	font-weight: bold;
	background-color: #00CBE7;
	padding: 4px;
	border-radius: 5px;
	border-color: #232323;
}
.formholder{
	text-align:left;
	margin:0 auto;
	padding-left:15%;
}
.index{
	border-style: none;
	background: #EEEEEE;
	margin: 0 auto;
	border-spacing: 0;
	border-radius: 15px;
	padding: 30px;
}

.tdl{
	background: #FFFFFF;
	border: #FFFFFF;
	height: 100px;
	width: 350px;
	text-align: justify;
	vertical-align:text-top;
	padding: 10px;}
.tdl a{
	text-decoration: none;
	color: #FD8603;
	text-shadow: 0px 1px 0px #333, 0px 1px 2px #fff;
	font-size: medium;
	letter-spacing: 2px;
	font-weight: bold;
}

.tdr{
	background: #FFFFFF;
	border: #FFFFFF;
	height: 100px;
	width: 350px;
	text-align: justify;
	vertical-align:text-top;
	padding: 10px;
		}
.tdr a{
	text-decoration: none;
	color: #FD8603;
	text-shadow: 0px 1px 0px #333, 0px 1px 2px #fff;
	font-size: medium;
	letter-spacing: 2px;
	font-weight: bold;
}
	
.form{
	padding-top:5%;	
}

.tablehead{
	border: none;
	height: 45px;
	width: 350px;
	text-align: left;
	color: white;
	text-shadow: 0px 2px 2px #000, 0px 2px 6px #000;
	font-size: large;
	vertical-align: top;
}

.usermanagement{
	border-style: double;
	width: 100%;
	text-align: left;
	vertical-align: top;
	margin: -10% auto 1% auto;
	border: medium;
	border-style:solid;
	border-spacing:0px;
	}
.usermanagement td{
	font-size: medium;
	border-bottom: medium;
	padding:4px;
	border: thin;
	border-left-style: solid;
	border-right-style: solid;
	}

.top{	
height: 45px;
	width: 700px;
	text-align: left;
	color: white;
	text-shadow: 0px 2px 2px #000, 0px 2px 6px #000;
	font-size: large;
	vertical-align: top;}

.browse td{
	width:300px;
	vertical-align:top;
}


.browse{
	background: #EEEEEE;
	table-layout:fixed;
	margin: 0 auto;
	width: 75%;
	border-spacing: 25px;
	border-radius:25px;
}

.search{
	background: #EEEEEE;
	table-layout:fixed;
	margin: 5% auto;
	width: 65%;
	padding: 15px;
	text-align:left;
	border-spacing: 25px;
	border-radius:25px;
}

.search h1{
	color: white;
	text-shadow: 0px 2px 2px #000, 0px 2px 6px #000;
	font-size: x-large;
}
.save-annots {
	position: absolute;
	right:5px;
	bottom: 5%;
    width: 24%;
    max-height: 30em;
    text-align: center;
    padding: inherit;
    margin: inherit;
    overflow-y: hidden;
}



/*
    HEADER
*/
#header {
	border-bottom: medium #232323 double;
	height: 50px;
	position: relative;
	width: 100%;
	background: url(/WebApp/PNG/9-website-header-technology.jpg);
	background-size: 100% 100%;
	no-repeat;
	text-decoration: none;
}
#header h1 { position: absolute; top: 0; left: 0; z-index: 2;  overflow: hidden;  }
#header h1 a { display: block; width: 100%; height: 38px; border: none; text-decoration: none;color: white; text-shadow: 0px -2px 0px #333,
                  0px 2px 3px #666; font-weight:bolder;}
#control { width: 500px; float: right; padding: 0px 0px 3px 0; text-align: right; text-decoration: none; }
#control a{
	text-align: right;
	border: none;
	text-decoration: none;
	background-color: white;
	color: black;
	font-weight: bold;
	padding: 3px;
	border: 2px #009999 outset;
	border-radius: 5px;
	box-shadow: 0 5px 6px 0 rgba(253,134,3,0.2), 0 6px 15px 0 rgba(253,134,3,0.19);
	-webkit-transition-duration: 0.4s; /* Safari */;
	transition-duration: 0.4s;
}
    #control a:hover{
	text-align: right;
	border: none;
	text-decoration: none;
	background-color: #00DA3C;
	color: white;
	padding: 3px;
	border: 2px #00CBE7 outset;
	border-radius: 5px;
	box-shadow: 0 5px 6px 0 rgba(253,134,3,0.2), 0 6px 15px 0 rgba(253,134,3,0.19);
	-webkit-transition-duration: 0.4s; /* Safari */;
	transition-duration: 0.4s;
}


/*
    SIDEBAR
*/
#ribbon {
	background: #EEEEEE;
	position: absolute;
	right: 4px;
	width: 24%;
	top: 10%;
	overflow: hidden;
	color: #000000;
}

#ribbon ul { list-style: none; }
#ribbon ul li {
	background: rgba(0,0,0,0.8);
	color: #000000;
	padding: 5px;
	margin: 0 0 5px 0;
	font-size: 12px;
	background-color: #FFFFFF;
}
/*
    FOOTER
*/

#footer {
margin: 0px auto;
width:100%;
bottom: 0;
overflow-x:0;
}    
#footer .copyright {
float: left;
padding: 30px 0;
width: 100%;

text-align: center;
}

#save
	{
	height:4em;
	width:15em;
}

/*
    RESET
*/
* { margin: 0; padding: 0; }
body { font: 14px/1.1 Helvetica, Sans-Serif; overflow-x:0; }
.clear { clear: both; }
img, a img { border: none; }
input { outline: none; }

/* 
	RESTYLE UPLOAD BUTTON
	source: http://maffrigby.com/nice-file-upload-button-dude/
*/
.left {
float: left;
}
.both {
clear: both;
}
.file-upload-container {
width:275px;
border: 1px solid #efefef;
padding:5px;
border-radius: 6px;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
background: #fbfbfa;
}
.file-upload-override-button {
	position: relative;
	overflow: hidden;
	cursor: pointer;
	border: 1px solid #efefef;
	padding: 10px;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	background: #00CBE7;
	color: #FFFFFF;
	border-width: thin;
	border-style: solid;
	font-weight: bold;
	background-color: #00CBE7;
	border-color: #232323;

}
.file-upload-override-button:hover {
background-color:#378de5;
}
.file-upload-override-button:active {
position:relative; top:1px;
}
.file-upload-button {
position: absolute;
height: 50px;
top: -10px;
left: -10px;
cursor: pointer;
opacity: 0;
filter:alpha(opacity=0);
}
.file-upload-filename {
margin-left: 10px;
height: auto;
padding: 8px;
}