/*
================================================================================
    Main style sheet for Video Annotation platform.

    Class: ECE 435
================================================================================
*/

html {
    background: rgb(255, 255, 255);
    color: rgb(35, 35, 35);
    overflow: auto;
}

body {
    font-size: 1em;
    font-weight: normal;
    word-spacing: normal;
    letter-spacing: normal;
    text-transform: normal;
    font-family: 'Source Sans Pro', sans-serif;
    font-size-adjust: 0.58;
    line-height: 1.4em;
    text-align: center;
    overflow-y: scroll;
    width: 100%;
    padding:0;
    margin:0;
}

video {
    position: relative;
    left: 0px;
    top: 0px;
    width: 100%;
}

ul {
    list-style-type: none;
}

li {
	margin: 10px 0;
}

.sidebar {
    background: rgb(200, 200, 200);
    width: 25%;
    height: 100%;
    position: fixed;
    height: 100%;
    padding-top: 1.5em;
    margin-right: 1.5em;
    text-align: left;
}

.sidebar h2 {
    text-align: center;
}

.main {
    width: 65%;
    height: 100%;
    padding: 1.5em;
    margin-left: 0px;
    margin-right: 1.5em;
    position: fixed;
    left: 25%;
    top: 0px;
    text-align: center;
    /*border: 1px solid blue;*/
}

.video-div {
    position: relative;
    width: 100%;
    height: auto;
    padding: 0px;
    margin: 0px;
    /*border: 1px solid green;*/

}

.canvases {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: auto;
}

.input-area {
    position: relative;
    width: inherit;
    text-align: left;
    position: relative;
    padding: inherit;
    margin: inherit;
}

.annotation-list {
    position: relative;
    width: inherit;
    max-height: 5em;
    text-align: left;
    position: relative;
    padding: inherit;
    margin: inherit;
    overflow-y: scroll;
}

a .video-link {
    /* Nothing yet */
}